<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StoreEntities" connectionString="metadata=res://*/StoreDb.csdl|res://*/StoreDb.ssdl|res://*/StoreDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=StoreDB;Persist Security Info=True;User ID=sa;Password=xchenchao;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>